<div class="w-100"></div><!-- force next columns to break to new line -->
<div class="col-12 col-lg-<%= @d_size %> my-4">
  <div class="divider"></div>
</div>
<div class="w-100"></div><!-- force next columns to break to new line -->