<!-- footer -->
<div class="row justify-content-center hidden-until-md">
  <div class="col-12 text-center">
    <p class="text-muted mb-3">
      <!-- twitter -->
      <a href="https://twitter.com/miqqeio" target="_blank" class="px-3">@miqqeio</a>
      <!-- changelog -->
      <a href="https://github.com/miqqeio/michaelsjoeberg.com/commits/main" target="_blank" class="px-3">Changelog</a>
      <!-- version -->
      <span class="text-muted px-3">v<%= $version %></span>
    </p>
  </div>
</div><!-- ./footer -->