<!-- footer -->
<div class="row justify-content-center hidden-until-md">
    <div class="col-12 text-center">
        <p class="text-muted mb-3"><a href="https://twitter.com/miqqeio" target="_blank">@miqqeio</a> — <span class="text-muted"><%= $version %></span></p>
    </div>
</div><!-- ./footer -->