<!-- footer -->
<div class="row justify-content-center hidden-until-md">
    <div class="col-12 text-center">
        <p class="small text-muted text-uppercase mb-3">Version: <%= $version %></p>
    </div>
</div><!-- ./footer -->