<div class="row justify-content-center">
  <div class="col-12 text-center py-5">
    <p class="text-small text-muted mb-0">
      <!-- twitter -->
      <!-- <a href="https://twitter.com/miqqeio" target="_blank" class="px-3">@miqqeio</a> -->
      <!-- updated -->
      <span class="text-muted">Updated on <%= $updated %></span>
      <!-- changelog -->
      <a href="https://github.com/mixmaester/michaelsjoeberg.com/commits/main" target="_blank" class="pl-3">Changelog</a>
    </p>
  </div>
</div>