<div class="row justify-content-center mt-5">
  <div class="col-12 text-center">
    <p class="text-muted mb-0">
      <!-- twitter -->
      <!-- <a href="https://twitter.com/miqqeio" target="_blank" class="px-3">@miqqeio</a> -->
      <!-- updated -->
      <span class="text-muted px-3">Updated on <%= $updated %></span>
      <!-- changelog -->
      <a href="https://github.com/miqqeio/michaelsjoeberg.com/commits/main" target="_blank" class="px-3">Changelog</a>
    </p>
  </div>
</div>