<!-- header -->
<div class="container">
    <div class="row justify-content-center my-4">
        <div class="col-12 text-center">
            <h1 class="font-family-base text-larger">Michael Sjöberg <button id="toggle-dark-mode" type="button" class="btn btn-primary">
            	<!-- <i class="fa fa-moon"></i> -->
            	<i class="fas fa-adjust"></i>
            </button></h1>
        </div>
    </div>
</div>
<!-- ./header -->