<!-- header -->
<div class="container">
  <div class="row justify-content-center mt-5 mb-4 py-5">
    <div class="col text-center">
      <img src="assets/fav.png" style="max-height:140px;border-radius:50%;" />
      <h1 class="font-family-base text-larger d-inline pl-5" style="vertical-align:middle;">Michael Sjöberg</h1>
    </div>
  </div>
</div>
<!-- ./header -->