<!-- header -->
<div class="container">
    <div class="row justify-content-center mt-5 mb-4 py-5">
        <div class="col-12 text-center">
            <h1 class="font-family-base text-larger">Michael Sjöberg
            	<!-- <button id="toggle-dark-mode" type="button" class="btn btn-primary hidden-until-lg"><i class="fas fa-adjust"></i></button> -->
            </h1>
        </div>
    </div>
</div>
<!-- ./header -->