<!-- intro -->
<div class="font-family-serif">
	<p>I build web applications (full-stack), <a href="/finance" data-turbolinks="true">financial models</a> (DCF analysis), and recently started to build software systems that improve productivity (tools, compilers, DSLs). I am interested in computational intelligence (evolutionary algorithms, neural networks, reinforcement learning), finance, self-directed learning (or educational philosophy in general), and most topics in science (in particular computer-related). I speak fluent Swedish and English, conversational Norwegian, and learning Spanish.</p>

	<p>I have completed postgraduate studies in computer science at <a href="https://www.kcl.ac.uk/" target="_blank">King's College London</a> (2020), with a focus on optimization problems, learning-based algorithms, and compiler design. I have completed undergraduate studies at The Open University (full-time distance learning; 2018), with a focus on software engineering and applied mathematics. I have completed standalone postgraduate studies in corporate finance and financial research at <a href="http://business-school.open.ac.uk/" target="_blank">The Open University Business School</a> (part-time distance learning; 2021). I have a list with completed coursework <a href="/about/courses" data-turbolinks="true">here</a>.</p>

	<p><span class="font-weight-bold">Programming languages:</span> Fluent in Python, proficient in Rust and JavaScript, conversant in C/C++, Ruby, Scala, and Prolog.</p>
</div>
<!-- ./intro -->