<div class="font-family-serif">
  <p>I build web applications (mostly with Python, JavaScript, MongoDB, and AWS) and recently got into compilers and implementation of programming languages. I think there is a lot of opportunities for improving usability in compilers. I am interested in computational intelligence (evolutionary computation, neural networks, reinforcement learning), equity research and finance in general, and most computing-related topics in science. I speak Swedish and English, conversational Norwegian, and learning Spanish.</p>

  <p>I have completed postgraduate studies in computer science at <a href="https://www.kcl.ac.uk/" target="_blank">King's College London</a> (2020), with a focus on optimization problems, learning-based algorithms, and compiler construction. I have completed undergraduate studies at The Open University (2018), with a focus on software engineering and applied mathematics. I have completed standalone postgraduate studies in corporate finance and financial research at <a href="http://business-school.open.ac.uk/" target="_blank">The Open University Business School</a> (2021). I have a list with completed coursework <a href="/about/courses" data-turbolinks="true">here</a>. I used to make electronic music which can be found <a href="https://soundcloud.com/miqqe/popular-tracks" target="_blank">here</a>.</p>

  <p>I am currently building a <a href="https://www.dropbox.com/sh/jx6hfhfff2fbyri/AADuBHMQv8m7Mv5KyyPuJMSUa?dl=0" target="_blank">small house</a> in Sweden and hacking on <a href="https://stockstack.ai" target="_blank">Stockstack.AI</a>.</p>

  <p><span class="font-weight-bold">Programming languages:</span> Python, C/C++, Rust, Scala (soon probably Go and Zig).</p>
</div>
