<div class="row justify-content-center hidden-until-md">
    <div class="col-12">
        <nav class="navbar navbar-expand-md p-0 background--primary">
            <ul class="navbar-nav mr-auto ml-auto">
                <li class="nav-item">
                    <a href="/about/courses" class="nav-link" data-turbolinks="false">Course List</a>
                </li>
            </ul>
        </nav>
    </div>
</div>