<!-- navigation_links -->
<!-- /home -->
<li class="nav-item <% if request.path == '/' %>show<% end %>">
  <a class="nav-link" href="/" data-turbolinks="true">Home</a>
</li>
<!-- /projects -->
<li class="nav-item <% if request.path == '/projects' %>show<% end %>">
  <a class="nav-link" href="/projects" data-turbolinks="true">Projects</a>
</li>
<!-- /writing -->
<li class="nav-item <% if request.path == '/writing' %>show<% end %>">
  <a class="nav-link" href="/writing" data-turbolinks="true">Writing</a>
</li>
<!-- /programming -->
<li class="nav-item <% if request.path == '/programming' %>show<% end %>">
  <a class="nav-link" href="/programming" data-turbolinks="true">Programming</a>
</li>
<!-- github -->
<li class="nav-item no--border">
  <a class="nav-link" href="https://github.com/miqqeio"><i class="fab fa-github fa-fw"></i> GitHub</a>
</li>
<!-- linkedin -->
<li class="nav-item no--border">
  <a class="nav-link" href="https://www.linkedin.com/in/miqqeio"><i class="fab fa-linkedin fa-fw"></i> LinkedIn</a>
</li>
<!-- ./navigation_links -->
