<!-- navigation -->
<div class="row justify-content-center hidden-until-md fixed">
    <div class="col-12 p-0">
        <nav class="navbar navbar-expand-md p-0">
            <ul class="navbar-nav ml-auto mr-auto">
                <%= render 'navigation_links' %>
            </ul>
        </nav>
    </div>
</div>
<!-- ./navigation -->