<!-- navigation_links -->
<!-- / -->
<li class="nav-item <% if request.path == '/' %>show<% end %>">
    <a class="nav-link" href="/">Home</a>
</li>
<!-- /projects -->
<li class="nav-item <% if request.path == '/projects' %>show<% end %>">
    <a class="nav-link" href="/projects">Projects</a>
</li>
<!-- /writing -->
<li class="nav-item <% if request.path == '/writing' %>show<% end %>">
    <a class="nav-link" href="/writing">Writing</a>
</li>
<!-- /programming -->
<li class="nav-item <% if request.path == '/programming' %>show<% end %>">
    <a class="nav-link" href="/programming">Programming</a>
</li>
<!-- github -->
<li class="nav-item">
    <a class="nav-link" href="https://github.com/michaelsjoeberg"><i class="fab fa-github"></i> GitHub</a>
</li>
<!-- linkedin -->
<li class="nav-item">
    <a class="nav-link" href="https://www.linkedin.com/in/sjoebergco"><i class="fab fa-linkedin"></i> LinkedIn</a>
</li>
<!-- ./navigation_links -->