<% @size = 10 %>

<div class="container">
  <!-- intro -->
  <div class="row justify-content-center">
    <div class="col-12 col-lg-<%= @size %> text-center">
      <p class="mb-0">A small house built from scratch. It's about 30sqm, which is legal limit without permit</p>
    </div>
  </div>
  <!-- attefall -->
  <div class="row justify-content-center mt-5">
    <div class="col-12 col-xl-<%= @size %>">
      <div class="card-columns">
        <% @images.each do |image| %>
        <div class="card">
          <div class="card-body p-0">
            <a href="<%= '/images/attefall/' + image %>" target="_blank">
              <% image = image.split('.')[0] + '_sm.' + image.split('.')[1] %>
              <img src="<%= '/images/attefall/' + image %>">
            </a>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
