/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600');
@import "bootstrap";

// CONSTANTS 
// --------------------------------------------------------
$FONT_FAMILY_BASE           : "Mulish", sans-serif;
// $FONT_FAMILY_MONO           : "Source Code Pro", monospace;
// $FONT_FAMILY_SERIF          : "Source Serif Pro", serif;
$FONT_FAMILY_MONO           : "Roboto Mono", monospace;
// $FONT_FAMILY_SERIF          : "Source Serif Pro", serif;
$FONT_FAMILY_SERIF          : $FONT_FAMILY_BASE;
$FONT_SIZE_LARGER           : 3.250rem; // +2.000
$FONT_SIZE_LARGE            : 2.250rem; // +1.000
$FONT_SIZE_MEDIUM           : 1.750rem; // +0.500
$FONT_SIZE_BASE_PLUS        : 1.375rem; // +0.125
$FONT_SIZE_BASE             : 1.250rem;
$FONT_SIZE_BASE_MONO        : 1.125rem; // -0.125
$FONT_SIZE_SMALL            : 1.000rem; // -0.250
$FONT_WEIGHT_THIN           : 300;
$FONT_WEIGHT_BASE           : 400;
$FONT_WEIGHT_BOLD_MONO      : 600;
$FONT_WEIGHT_BOLD           : 700;

// colors
$COLOR_BLUE                 : #0070FF;
$COLOR_PURPLE               : #DE09F7;
$COLOR_GREEN                : #17D50A;
$COLOR_ORANGE               : #FF8200;
$COLOR_RED                  : #D50000;

// $DARK_MUTED                 : #E7E7E7;
$DARK_MUTED                 : #F1F1F1;
$WHITE_MUTED                : #1C1C1C;

// system
$COLOR_DARK_BASE            : #101010;
// $COLOR_DARK_MUTED           : rgba($COLOR_DARK_BASE, 0.5);
$COLOR_DARK_MUTED           : $DARK_MUTED;
$COLOR_DARK_LIGHT           : rgba($COLOR_DARK_BASE, 0.1);
$COLOR_PRIMARY              : $COLOR_BLUE;
$COLOR_CONTRAST             : $COLOR_RED;
$WHITE_BASE                 : #FFFFFF;
$WHITE_SHADED               : #FAFAFA;

$COLOR_DARK_BLUE            : #0B0823;

// $DARK_MUTED                 : #E7E7E7;
// $WHITE_MUTED                : #1C1C1C;

// BASE 
// --------------------------------------------------------
// :root {
//     color-scheme            : light dark;
// }

// #toggle-dark-mode { display: none; }

html { 
    background-color        : $WHITE_BASE;
}
// @supports not (color-scheme: light dark) {
//     html { background-color: $WHITE_BASE; }
//     #toggle-dark-mode { display: inline-block; }
// }

body {
    background-color        : transparent;
    width                   : 100%;
    height                  : 100%;
    line-height             : 1.5; 
    outline                 : none !important;
    outline                 : 0;
    font-family             : $FONT_FAMILY_BASE;
    font-size               : $FONT_SIZE_BASE;
    font-weight             : $FONT_WEIGHT_BASE;
    color                   : $COLOR_DARK_BASE;
}

.wrapper {
    position                : absolute;
    top                     : 0;
    left                    : 0;
    right                   : 0;
}

em {
    color                   : rgba($COLOR_DARK_BASE, 0.5) !important;
    // display                 : inline-block;
    // min-width               : 100%;
    // text-align              : center;
}

html.dark em {
    color                   : rgba($WHITE_BASE, 0.5) !important;
}

hr,
.divider {
    margin                  : 2rem 0;
    border                  : 0;
    border-top              : 1px solid $DARK_MUTED;
}

.divider--bold {
    margin-top              : 1rem;
    margin-bottom           : 1rem;
    border                  : 0;
    border-top              : 0.25rem solid $DARK_MUTED;
}

.background--dark { 
    background              : $COLOR_DARK_BASE !important;
    color                   : $WHITE_BASE;
}

.background--primary { 
    // background              : $COLOR_PRIMARY !important;
    background              : $DARK_MUTED !important;
    color                   : $COLOR_DARK_BASE;
}

html.dark .background--primary {
    background              : $WHITE_MUTED !important;
    color                   : $WHITE_BASE;
}

.background--grey {
    background              : $DARK_MUTED;
}

code,
pre,
.prettyprint.background--grey {
    transition              : all 0.15s;
    background              : $WHITE_BASE;
    // background              : $DARK_MUTED
    border                  : 1px solid $DARK_MUTED;
}

button.expand-button { display: none; }
@include media-breakpoint-up(lg) {
    button.expand-button { display: inline-block; }
}

.no-expand button.expand-button { display: none !important; }

// code.expand,
// pre.expand {
//     transition              : all 0.15s;
//     min-width               : 180%;
//     margin-left             : -40%;
// }

html.dark code,
html.dark pre,
html.dark .prettyprint.background--grey {
    border                  : 1px solid transparent;
}

blockquote {
    padding-left            : 1rem;
    border-left             : 0.5rem solid $DARK_MUTED;
    // margin-left             : 1rem;
    
    p {
        color               : rgba($COLOR_DARK_BASE, 0.5);
        font-style          : italic;
    }
}

html.dark blockquote {
    border-left             : 0.5rem solid $WHITE_MUTED;


    p { color: rgba($WHITE_BASE, 0.5); }
}

a.anchor {
    display                 : block;
    position                : relative;
    top                     : calc(-50px - 1rem);
    visability              : hidden;
}

a.anchor-2 {
    display                 : block;
    position                : relative;
    top                     : calc(-100px - 1rem);
    visability              : hidden;
}

.text-muted {
    color                   : rgba($COLOR_DARK_BASE, 0.5) !important;
}
.text-lowercase {
    text-transform          : lowercase !important;
}
.text-larger {
    font-size               : $FONT_SIZE_LARGER !important;
}

strong,
.strong {
    font-weight             : $FONT_WEIGHT_BOLD !important;
}

// a.color-primary span,
// a.color-primary:focus span { 
//     color                   : $COLOR_DARK_BASE;
//     -webkit-transition      : all .15s;
//     -moz-transition         : all .15s; 
//     transition              : all .15s;
// }

// a.color-primary:hover span {
//     color                   : $COLOR_CONTRAST !important;
// }

li {
    list-style              : none;
}

table {
    margin-bottom           : 1rem;
    display                 : inline-block;
    vertical-align          : top;
}
td {
    padding                 : 0.5rem 1rem;
    color                   : $COLOR_DARK_BASE;
    border                  : 1px solid $DARK_MUTED;
    text-align              : center;
    vertical-align          : middle;
}

td[align=left] {
    text-align              : left;
}

html.dark td {
    color                   : $WHITE_BASE;
    border                  : 1px solid $WHITE_MUTED;
}

.hidden-until-md,
.hidden-until-lg {
    display                 : none;
}

.hidden-from-md,
.hidden-from-lg {
    display                 : initial;
}

.p-sm-3 {
    padding                 : 1rem;
}

// @media (min-width: 576px) { ... }
// @media (min-width: 768px) { ... }
// @media (min-width: 992px) { ... }
// @media (min-width: 1200px) { ... }

@include media-breakpoint-up(md) {
    .text-md-right                  { text-align: right !important; }
    .text-md-left                   { text-align: left !important; }
    .hidden-until-md                { display: initial !important; }
    .hidden-from-md                 { display: none !important; }
    .p-md-5                         { padding: 3rem !important; }
    .mt-md-2                        { margin-top: 0.5rem !important; }
}

@include media-breakpoint-up(lg) {
    .top--margin-1x                 { margin-top: 50px !important; }
    .top--margin-2x                 { margin-top: 100px !important; }
    .hidden-until-lg                { display: block !important; }
    .hidden-from-lg                 { display: none !important; }
    .center {
        position            : absolute;
        top                 : 50%;
        transform           : translate(0, -50%);
    }
}

// modal : mobile menu
.modal {
    top: auto;
    bottom: 0;
    height: auto;
    z-index: 2000;
}
.modal .modal-dialog {
    max-width               : 100%;
    height                  : 100%;
    margin                  : 0;
}

.modal .modal-dialog .modal-content {
    border                  : 0;
    border-radius           : 0;
    height                  : 100%;
    background-color        : $WHITE_BASE; 
}

.modal .modal-dialog .modal-content .modal-header { border: 0; }

// SEARCH 
// --------------------------------------------------------
input#search {
    background-color        : transparent;
    font-family             : $FONT_FAMILY_BASE; 
    color                   : rgba($COLOR_DARK_BASE, 0.5); 
    border                  : 1px solid $DARK_MUTED;
    outline                 : 0;
    min-width               : 100%;

    -webkit-transition      : all .15s;
    -moz-transition         : all .15s;
    transition              : all .15s;

    &::-webkit-input-placeholder    { color: rgba($COLOR_DARK_BASE, 0.5);; }
    &::-moz-placeholder             { color: rgba($COLOR_DARK_BASE, 0.5);; }
    &:-ms-input-placeholder         { color: rgba($COLOR_DARK_BASE, 0.5);; }
    &:-moz-placeholder              { color: rgba($COLOR_DARK_BASE, 0.5);; }
}

input#search:hover {
    color                   : $COLOR_DARK_BASE;

    &::-webkit-input-placeholder    { color: $COLOR_DARK_BASE; }
    &::-moz-placeholder             { color: $COLOR_DARK_BASE; }
    &:-ms-input-placeholder         { color: $COLOR_DARK_BASE; }
    &:-moz-placeholder              { color: $COLOR_DARK_BASE; }
}

input#search:focus {
    color                   : $COLOR_DARK_BASE;
    background-color        : $DARK_MUTED;
    // border-color            : $COLOR_DARK_BASE;

    &::-webkit-input-placeholder    { color: $COLOR_DARK_BASE; }
    &::-moz-placeholder             { color: $COLOR_DARK_BASE; }
    &:-ms-input-placeholder         { color: $COLOR_DARK_BASE; }
    &:-moz-placeholder              { color: $COLOR_DARK_BASE; }
}

// BORDER
// --------------------------------------------------------
.border-solid { 
    background-color        : transparent;
    border-left             : 1rem solid $COLOR_DARK_BASE;
    border-bottom           : 0px solid;
    -webkit-transition      : all .15s;
    -moz-transition         : all .15s; 
    transition              : all .15s;
}

.border-solid--grey {
    border                  : 1px solid $DARK_MUTED;
}

.border-solid:hover { 
    border-color            : $COLOR_CONTRAST !important;
    -webkit-transition      : all .15s;
    -moz-transition         : all .15s;
    transition              : all .15s;
}

.border-solid p,
.border-solid span,
.border-solid a { 
    color                   : $COLOR_DARK_BASE;
    -webkit-transition      : all .15s;
    -moz-transition         : all .15s; 
    transition              : all .15s;
}

.border-solid:hover p,
.border-solid:hover span,
.border-solid:hover a {
    color                   : $COLOR_CONTRAST;
}

.border-left { 
    border-left             : 0.25rem solid $DARK_MUTED !important;
    -webkit-transition      : all .15s;
    -moz-transition         : all .15s; 
    transition              : all .15s;

    &.primary {
        border-left         : 0.25rem solid darken($COLOR_PRIMARY, 10%) !important;
    }
}

// NAVBAR 
// --------------------------------------------------------
.navbar { 
    font-family             : $FONT_FAMILY_BASE;
    color                   : $COLOR_DARK_BASE;
    // background-color        : $WHITE_BASE;
}

.navbar .nav-item { 
    background-color        : transparent; 
    padding-left            : 1rem;
    padding-right           : 1rem;
    border-top              : 0.25rem solid transparent;
    border-bottom           : 0.25rem solid transparent;
    
    a {
        color               : $COLOR_DARK_BASE;
        font-family         : $FONT_FAMILY_BASE;
        font-size           : $FONT_SIZE_BASE; 
        // font-weight         : $FONT_WEIGHT_BOLD;
        text-decoration     : none !important;
    }

    .dropdown-menu {
        min-width           : 100%;
        margin              : 0;
        padding             : 0;
        border              : 0;
        border-radius       : 0;

        padding-left        : 1rem;
        padding-right       : 1rem;
    }
}

.navbar.background--primary .nav-item {
    a {
        font-weight         : $FONT_WEIGHT_BASE !important;
    }
}

.navbar .nav-item:hover,
.navbar .nav-item:focus,
.navbar .nav-item.show { 
    border-bottom           : 0.25rem solid darken($COLOR_PRIMARY, 10%);

    a {
        color               : darken($COLOR_PRIMARY, 10%);
        text-decoration     : none !important;
    }

    // .dropdown-menu {
    //     background-color    : $COLOR_DARK_BASE;

    //     a {
    //         color           : $WHITE_BASE;
    //         text-decoration : none !important;
    //     }

    //     a:hover,
    //     a:focus {
    //         text-decoration : none !important;
    //     }
    // }
}

.navbar .nav-item.no--border {
    border-bottom           : 0.25rem solid transparent !important;
}

html.dark .navbar .nav-item:hover,
html.dark .navbar .nav-item:focus,
html.dark .navbar .nav-item.show {
    border-bottom           : 0.25rem solid $COLOR_GREEN;

    a {
        color               : $COLOR_GREEN;
    }
}

.navbar.background--primary .nav-item:hover,
.navbar.background--primary .nav-item:focus,
.navbar.background--primary .nav-item.show { 
    border-bottom           : 0.25rem solid transparent;

    a {
        color               : darken($COLOR_PRIMARY, 10%);
    }
}

html.dark .navbar.background--primary .nav-item:hover,
html.dark .navbar.background--primary .nav-item:focus,
html.dark .navbar.background--primary .nav-item.show { 
    border-bottom           : 0.25rem solid transparent;

    // a {
    //     color               : $COLOR_CONTRAST;
    // }
}

// BUTTONS 
// --------------------------------------------------------
button {
    outline                 : none;
}

.nav-buttons.fixed {
    position                : fixed;
    bottom                  : 1rem;
    right                   : 1rem;
    z-index                 : 3000;
}

.btn.btn-primary,
.btn.btn-primary:active,
.btn.btn-primary:focus {
    border-radius           : 0;
    font-size               : 1.125rem;
    box-shadow              : none;
    background-color        : $WHITE_BASE;
    color                   : $COLOR_DARK_BASE; 
    border                  : 0; 
    border-color            : $WHITE_BASE;
    line-height             : 0;
    padding                 : 1rem;
}

.btn.btn-primary:active, 
.btn.btn-primary:active:focus {
    background-color        : $WHITE_BASE !important;
    border-color            : $WHITE_BASE !important;
}

.btn.btn-primary i {
    min-width               : 20px;
}

.btn.btn-primary:not(.no-hover):hover { 
    background-color        : $COLOR_DARK_BASE !important;
    color                   : $WHITE_BASE !important; 
    border-color            : $COLOR_DARK_BASE !important;
    box-shadow              : none !important;
}

.btn.btn-primary:active:focus {
    box-shadow              : none !important;
}

// TYPOGRAPHY
// --------------------------------------------------------
// h1,
h2,
h3,
h4,
h5 {
    padding-bottom          : 1rem;
}

h1 { 
    font-size               : $FONT_SIZE_LARGER !important;
}
h2 {
    font-size               : $FONT_SIZE_LARGE !important;
}

h3 {
    font-size               : $FONT_SIZE_MEDIUM !important;
}

h4,
h5 {
    font-size               : $FONT_SIZE_BASE_PLUS !important;
    // padding-bottom          : 1rem;
}

// h4 {
//     padding-top: 1rem;
//     padding-bottom: 0.5rem;
// }

// h4,
// h4 a,
h5,
h5 a {
    font-size               : $FONT_SIZE_BASE_PLUS !important;
    color                   : rgba($COLOR_DARK_BASE, 0.5) !important;
    display                 : inline-block;
    min-width               : 100%;
    text-align              : center;
    font-weight             : $FONT_WEIGHT_BASE !important;
    font-style              : italic;
}

// html.dark h4,
// html.dark h4 a,
html.dark h5,
html.dark h5 a {
    color                   : rgba($WHITE_BASE, 0.5) !important;
}

// h1 span.bg--green {
//     background              : $COLOR_GREEN !important;
//     font-weight             : $FONT_WEIGHT_BOLD !important;
//     display                 : inline-block;
//     width                   : 63px;
// }

h1,
h2,
h3,
h4,
h5,
button.navbar-toggler {
    font-family             : $FONT_FAMILY_BASE;
    font-weight             : $FONT_WEIGHT_BOLD; 
    color                   : $COLOR_DARK_BASE;
    text-transform          : none;  
    margin-bottom           : 0;
    outline                 : none !important;
    line-height             : 1.5 !important;

    // span { 
    //     font-family         : inherit;
    //     font-size           : inherit;
    //     font-weight         : inherit;
    //     background-color    : $COLOR_DARK_BASE; 
    //     color               : $WHITE_BASE;
    //     font-weight         : $FONT_WEIGHT_BASE;
    // }

    a,
    a:focus {
        color               : $COLOR_DARK_BASE;
        text-decoration     : none !important; 
    }

    a:hover { 
        color               : darken($COLOR_PRIMARY, 10%);
        text-decoration     : none !important;
    }

    &.large {
        font-size           : $FONT_SIZE_LARGE;
    }
    &.no-uppercase {
        text-transform      : none !important;
    }
}

// .rotate {
//     -ms-transform           : rotate(4deg);
//     -webkit-transform       : rotate(4deg);
//     transform               : rotate(4deg);
// }

a {
    word-break              : break-word !important;
}
a.break-all {
    word-break              : break-all !important;
}

// paragraph
p a {
    // font-weight             : $FONT_WEIGHT_BOLD;
    display                 : inline !important;
}

// p a:hover,
// p a:focus {
//     // color                   : $WHITE_BASE;
//     // background-color        : $COLOR_PRIMARY;
//     color                   : $COLOR_PRIMARY;
//     // text-decoration         : underline !important;
// }

// p a:hover::before {
//     content                 : none !important;
// }

.font-size-medium {
    font-size               : $FONT_SIZE_MEDIUM;
}

ol, ul, dl { 
    margin                  : 0 !important;
    padding                 : 0;
}
ol, ul, dl {
    padding-left            : 2rem;
}

#toc ol,
#toc ul,
#toc dl {
    padding-left            : 1rem !important;
}

.font-family-serif ul li,
.font-family-serif ol li {
    margin-bottom           : 1rem;
}

ol li ul li,
ul li ul li {
    list-style-type         : circle !important;
}

// .font-family-serif p {
//     text-align: justify;
// }

.font-family-serif li p {
    text-align              : left !important;
}

.font-family-serif ul li,
li.list-item {
    display                 : list-item;
    list-style-type         : square;
    list-style-position     : inherit;
}

li.list-item.no-bullet {
    list-style-type         : none;
}

.font-family-serif ol li {
    list-style-type         : auto;
    padding-left            : 1rem;
}

.font-family-serif ol li::marker {
    font-weight             : $FONT_WEIGHT_BOLD;
    // display                 : inline-block;
    font-size               : $FONT_SIZE_BASE;
}

#toc.font-family-serif ol li {
    padding-left            : 0 !important;
}

#toc ol {
    padding-left            : 0 !important;
}

#toc .list-item:not(.subitem) {
    margin-bottom           : 1rem;
}

#toc .list-item ul li,
#toc .list-item ol li {
    list-style-type         : none !important;
    margin                  : 0 !important;
}

#toc .list-item.subitem ul li {
    list-style-type         : none !important;
    margin                  : 0 !important;
}

#toc .col-12.list-item:last-child {
    margin-bottom           : 0!important;
}

.split-columns {
    column-count            : 1;
}

@include media-breakpoint-up(lg) {
    .split-columns {
        column-count        : 2;
    }    
}

.font-family-mono { 
    font-family             : $FONT_FAMILY_MONO !important;
    line-height             : 2;
}
.font-family-base { 
    font-family             : $FONT_FAMILY_BASE !important;
    line-height             : 2;
}
.font-family-serif { 
    font-family             : $FONT_FAMILY_SERIF !important;
    // font-weight             : $FONT_WEIGHT_THIN;
    // line-height             : 1.6;
    font-size               : $FONT_SIZE_BASE_PLUS;
}

.font-family-serif h1,
.font-family-serif h2,
.font-family-serif h3,
.font-family-serif h4,
.font-family-serif h5 {
    font-family             : $FONT_FAMILY_SERIF !important;
    font-weight             : $FONT_WEIGHT_BOLD;
    line-height             : 2;
}

html.dark .font-family-serif,
html.dark .font-family-serif h1,
html.dark .font-family-serif h2,
html.dark .font-family-serif h3,
html.dark .font-family-serif h4,
html.dark .font-family-serif h5 {
    font-family             : $FONT_FAMILY_BASE !important;
}

.text-small,
p.text-small,
span.text-small {
    font-size               : $FONT_SIZE_SMALL;
}

.text-normal,
p.text-normal,
span.text-normal {
    font-size               : $FONT_SIZE_BASE;
}

p.text-plus,
span.text-plus {
    font-size               : $FONT_SIZE_BASE_PLUS;
}

p.text-medium,
span.text-medium {
    font-size               : $FONT_SIZE_MEDIUM;
}

p.text-large,
span.text-large {
    font-size               : $FONT_SIZE_LARGE;
}

.font-weight-bold {
    font-weight             : $FONT_WEIGHT_BOLD !important;
}

h1 span.left,
p span.left
h1 span.right,
p span.right { 
    margin                  : 0;
    -webkit-transition      : all .15s;
    -moz-transition         : all .15s; 
    transition              : all .15s;
}

h1:hover span.left,
p:hover span.left {
    margin-right            : 4px;
}

h1:hover span.right,
p:hover span.right {
    margin-left             : 4px;
}

a,
a:focus { 
    color                   : darken($COLOR_PRIMARY, 10%);
    // text-decoration         : none;
    display                 : inline-block;

    span {
        color               : darken($COLOR_PRIMARY, 10%) !important;
    }

    li.list-item {
        color               : $DARK_MUTED;
    }
}

a:hover { 
    color                   : darken($COLOR_PRIMARY, 10%);
    // text-decoration         : none !important;

    span {
        color               : $COLOR_PRIMARY !important;
    }

    li.list-item {
        color               : darken($COLOR_PRIMARY, 10%);
    }
}

html.dark a,
html.dark a:focus {
    color                   : $COLOR_GREEN;

    span {
        color               : $COLOR_GREEN !important;
    }
}

html.dark a:hover {
    li.list-item {
        color               : $COLOR_GREEN;   
    }
}

a.no-decoration,
a.no-decoration:focus,
a.no-decoration:hover {
    text-decoration         : none !important;
}

pre,
pre.prettyprint { 
    max-width               : 100%;
    padding                 : 1rem;
    white-space             : pre-wrap;
    margin                  : 0;
    margin-bottom           : 1rem;
}

pre .hljs-string {
    word-break              : break-all;
}

pre,
pre.prettyprint,
pre.prettyprint span {
    color                   : $COLOR_DARK_BASE;
    font-family             : $FONT_FAMILY_MONO;
    font-weight             : $FONT_WEIGHT_BASE;
    font-size               : $FONT_SIZE_BASE_MONO; 
    line-height             : 1.5 !important;
}

code {
    color                   : $COLOR_DARK_BASE;
    font-family             : $FONT_FAMILY_MONO;
    // font-weight             : $FONT_WEIGHT_BOLD_MONO;
    font-weight             : $FONT_WEIGHT_BASE;
    font-size               : $FONT_SIZE_BASE_MONO;
    // font-size               : $FONT_SIZE_BASE; 
    padding                 : 0 0.5rem;
    // override
    font-style              : normal;
    word-break              : inherit;
}

html.dark code {
    color                   : $WHITE_BASE;
}

sub,
sup,
sub code,
sup code {
    font-size               : $FONT_SIZE_SMALL;
    padding-left            : 0;
}

@media screen {
    .hljs-meta,
    .hljs-meta .hljs-meta-keyword,
    .hljs-meta .hljs-meta-string,
    .hljs-meta .hljs-keyword,
    .hljs-meta .hljs-string         { color: $COLOR_RED !important; }

    // parameters
    .hljs-params,
    .hljs-regexp                    { color: $COLOR_DARK_BASE !important; }

    // parameter type
    .hljs-params .hljs-type         { color: $COLOR_RED !important; }

    // string
    .hljs-string                    { color: darken($COLOR_GREEN, 5%) !important; }

    // keywords
    .hljs-keyword,
    .hljs-selector-tag,
    .hljs-subst                     { color: $COLOR_PURPLE !important; }

    // built-in
    // .hljs-built_in { color: $COLOR_DARK_BASE !important; }
    .hljs-built_in                  { color: $COLOR_PURPLE !important; }

    // comment
    .hljs-comment,
    .hljs-doctag,
    .hljs-quote                     { color: rgba($COLOR_DARK_BASE, 0.5) !important; }
    
    // type
    .hljs-type                      { color: $COLOR_PURPLE !important; }
    
    // symbols
    .hljs-number                    { color: $COLOR_ORANGE !important; }
    
    // literal
    .hljs-literal,
    .hljs-symbol                    { color: $COLOR_RED !important; }

    // function
    .hljs-title,
    .hljs-function,
    .hljs-class,
    .hljs-function .hljs-title,
    .hljs-class .hljs-title         { color: darken($COLOR_PRIMARY, 10%) !important; }

    // nested
    .hljs-function .hljs-keyword,
    .hljs-class .hljs-keyword       { color: darken($COLOR_PRIMARY, 10%) !important; }
}

// DARK THEME
// --------------------------------------------------------
html.dark { background-color: $COLOR_DARK_BASE; }
// @supports not (color-scheme: light dark) {
//     html.dark { background-color: $COLOR_DARK_BASE; }
// }

html.dark a,
html.dark a:focus {
    // color: $COLOR_GREEN;
    li.list-item { color: $WHITE_MUTED; }
}

// html.dark a:hover { 
//     li.list-item { color: $COLOR_GREEN; }
// }

// html.dark .navbar { background-color: $COLOR_DARK_BASE; }

// html.dark a.color-primary span,
// html.dark a.color-primary:focus span { color: $WHITE_SHADED; }

// html.dark a.color-primary:hover span { color: lighten($COLOR_PRIMARY, 10%) !important; }

html.dark .navbar { color: $WHITE_SHADED; }

html.dark .navbar a { color: $WHITE_SHADED; }

html.dark p,
html.dark ul,
html.dark ol { color: $WHITE_SHADED; }

html.dark .text-muted { color: rgba($WHITE_BASE, 0.5) !important; }

html.dark hr,
html.dark .divider { border-top: 1px solid $WHITE_MUTED; }

html.dark .border-left {
    border-left: 0.25rem solid $WHITE_MUTED !important;
}

html.dark .background--grey,

html.dark code,
html.dark pre,
html.dark .prettyprint.background--grey {
    border                      : 1px solid $WHITE_MUTED;
    // background                  : $WHITE_MUTED;
    background                  : transparent;
    color                       : $WHITE_SHADED;
}

html.dark .border-solid--grey { border: 1px solid $WHITE_MUTED; }

// html.dark li.list-item::marker { color: $WHITE_SHADED; }

html.dark h1,
html.dark h2,
html.dark h3,
html.dark h4,
html.dark h5,
html.dark button.navbar-toggler { 
    color: $WHITE_SHADED;

    // span { 
    //     background-color        : $WHITE_SHADED; 
    //     color                   : $COLOR_DARK_BASE; 
    // }

    a {
        color                   : $WHITE_SHADED;
    }

    a:hover,
    a:focus { 
        color                   : $COLOR_GREEN;
    }

}

html.dark .border-solid { border-color: $WHITE_SHADED !important; }
html.dark .border-solid:hover,
html.dark .border-solid:focus { border-color: lighten($COLOR_PRIMARY, 10%) !important; }

html.dark .border-solid p,
html.dark .border-solid span,
html.dark .border-solid a { color: $WHITE_SHADED; }

html.dark .btn.btn-primary {
    background-color        : $COLOR_DARK_BASE;
    color                   : $WHITE_SHADED; 
    border-color            : $COLOR_DARK_BASE;
}

html.dark .btn.btn-primary:not(.no-hover):hover { 
    background-color        : $WHITE_SHADED !important;
    color                   : $COLOR_DARK_BASE !important; 
    border-color            : $WHITE_SHADED !important;
}

html.dark .modal .modal-dialog .modal-content {
    background-color        : $COLOR_DARK_BASE; 
}

html.dark input#search {
    background-color        : transparent;
    color                   : rgba($WHITE_BASE, 0.5);
    border                  : 1px solid $WHITE_MUTED; 

    &::-webkit-input-placeholder    { color: rgba($WHITE_BASE, 0.5); }
    &::-moz-placeholder             { color: rgba($WHITE_BASE, 0.5); }
    &:-ms-input-placeholder         { color: rgba($WHITE_BASE, 0.5); }
    &:-moz-placeholder              { color: rgba($WHITE_BASE, 0.5); }
}

html.dark input#search:hover {
    color                   : $WHITE_SHADED;

    &::-webkit-input-placeholder    { color: $WHITE_SHADED; }
    &::-moz-placeholder             { color: $WHITE_SHADED; }
    &:-ms-input-placeholder         { color: $WHITE_SHADED; }
    &:-moz-placeholder              { color: $WHITE_SHADED; }
}

html.dark input#search:focus {
    background-color        : $WHITE_MUTED;
    color                   : $WHITE_SHADED;

    &::-webkit-input-placeholder    { color: $WHITE_SHADED; }
    &::-moz-placeholder             { color: $WHITE_SHADED; }
    &:-ms-input-placeholder         { color: $WHITE_SHADED; }
    &:-moz-placeholder              { color: $WHITE_SHADED; }
}

html.dark pre.prettyprint,
html.dark pre.prettyprint span { color: $WHITE_SHADED; }


@media screen {
    html.dark .hljs-meta,
    html.dark .hljs-meta .hljs-meta-keyword,
    html.dark .hljs-meta .hljs-meta-string,
    html.dark .hljs-meta .hljs-keyword,
    html.dark .hljs-meta .hljs-string { color: $COLOR_RED !important; }

    // parameters
    html.dark .hljs-params,
    html.dark .hljs-regexp { color: $WHITE_SHADED !important; }

    // parameter type
    html.dark .hljs-params .hljs-type { color: $COLOR_RED !important; }

    // string
    html.dark .hljs-string { color: $COLOR_GREEN !important; }

    // keywords
    html.dark .hljs-keyword,
    html.dark .hljs-selector-tag,
    html.dark .hljs-subst { color: $COLOR_PURPLE !important; }

    // built-in
    // html.dark .hljs-built_in { color: $WHITE_SHADED !important; }
    html.dark .hljs-built_in { color: $COLOR_PURPLE !important; }

    // comment
    html.dark .hljs-comment,
    html.dark .hljs-doctag,
    html.dark .hljs-quote { color: rgba($WHITE_BASE, 0.5) !important; }

    // type
    html.dark .hljs-type { color: $COLOR_PURPLE !important; }

    // symbols
    html.dark .hljs-number { color: $COLOR_ORANGE !important; }

    // literal
    html.dark .hljs-literal,
    html.dark .hljs-symbol { color: $COLOR_RED !important; }

    // function
    html.dark .hljs-title,
    html.dark .hljs-function,
    html.dark .hljs-class,
    html.dark .hljs-function .hljs-title,
    html.dark .hljs-class .hljs-title { color: lighten($COLOR_PRIMARY, 10%) !important; }

    // nested
    html.dark .hljs-function .hljs-keyword,
    html.dark .hljs-class .hljs-keyword { color: $WHITE_SHADED !important; }
}
// --------------------------------------------------------
