/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Muli:400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,700');
@import "bootstrap";

// CONSTANTS 
// --------------------------------------------------------
$FONT_FAMILY_BASE       : "Muli", sans-serif;
$FONT_FAMILY_MONO       : "Source Code Pro", monospace;
$FONT_FAMILY_SERIF      : "Merriweather", serif;
$FONT_SIZE_LARGE        : 2.125rem;     // +1.000
$FONT_SIZE_MEDIUM       : 1.625rem;     // +0.500
$FONT_SIZE_BASE_PLUS    : 1.250rem;     // +0.125
$FONT_SIZE_BASE         : 1.125rem; 
$FONT_SIZE_SMALL        : 0.875rem;     // -0.250
$FONT_WEIGHT_THIN       : 300;
$FONT_WEIGHT_BASE       : 400;
$FONT_WEIGHT_BOLD       : 700;

// COLORS
$LAPIS_LAZULI       : #2976A9;
$BLEU_DE_FRANCE     : #37A1E8;
$TANGERINE          : #F18F01;
$YELLOW_ORANGE      : #F4AD46;
$SNOW               : #FAFAFA;
$ANDROID_GREEN      : #99C24D;
$EERIE_BLACK        : #171717;
// dark
$COLOR_DARK_BASE    : #000000;
$COLOR_DARK_MUTED   : rgba($COLOR_DARK_BASE, 0.5);
$COLOR_DARK_LIGHT   : rgba($COLOR_DARK_BASE, 0.1);
// categories
$COLOR_PRIMARY      : #0070FF;
$COLOR_SECONDARY    : #00d608;
$COLOR_CONTRAST     : #CE2700;
// system
$WHITE_BASE         : #FFFFFF;
$WHITE_SHADED       : $SNOW;

// BASE 
// --------------------------------------------------------
html { background-color: $WHITE_BASE; }

body {
    background-color        : transparent; 
    width                   : 100%;
    height                  : 100%;
    line-height             : 1.5; 
    outline                 : none !important;
    outline                 : 0;
    font-family             : $FONT_FAMILY_BASE;
    font-size               : $FONT_SIZE_BASE;
    font-weight             : $FONT_WEIGHT_BASE;
    color                   : $COLOR_DARK_BASE;
}

.wrapper {
    position                : absolute;
    top                     : 0;
    bottom                  : 0;
    left                    : 0;
    right                   : 0;
    overflow-y              : auto;
    overflow-x              : hidden;
}

hr,
.divider {
    margin-top              : 1rem;
    margin-bottom           : 1rem;
    border                  : 0;
    border-top              : 1px solid $COLOR_DARK_LIGHT;
}

.divider--bold {
    margin-top              : 1rem;
    margin-bottom           : 1rem;
    border                  : 0;
    border-top              : 0.25rem solid $COLOR_DARK_LIGHT;
}

.background--dark { 
    background              : $COLOR_DARK_BASE !important;
    color                   : $WHITE_BASE;
}

.background--primary { 
    background              : $COLOR_PRIMARY !important;
    color                   : $WHITE_BASE;
}

.text-muted { color: $COLOR_DARK_MUTED !important; }
.text-lowercase { text-transform: lowercase !important; }

strong,
.strong { font-weight: $FONT_WEIGHT_BOLD !important; }

a.color-primary span,
a.color-primary:focus span { 
    color                   : $COLOR_DARK_BASE;
    -webkit-transition      : all .15s;
    -moz-transition         : all .15s; 
    transition              : all .15s;
}

a.color-primary:hover span { color: $COLOR_CONTRAST !important; }

p.post { font-family: $FONT_FAMILY_SERIF; }

li { list-style: none; }

.hidden-until-md { display: none; }
.hidden-until-lg { display: none; }

.hidden-from-md { display: block;}

.p-sm-3 { padding: 1rem; }

@include media-breakpoint-up(md) {
    .text-md-right { text-align: right !important; }
    .text-md-left { text-align: left !important; }
    .hidden-until-md { display: block !important; }
    .hidden-from-md { display: none !important; }
    .p-md-5 { padding: 3rem !important; }
    .mt-md-2 { margin-top: 0.5rem !important; }
}

@include media-breakpoint-up(lg) {
    .hidden-until-lg { display: block !important; }
}

// SEARCH 
// --------------------------------------------------------
input#search {
    font-family             : $FONT_FAMILY_BASE; 
    background-color        : transparent;
    color                   : $COLOR_DARK_MUTED; 
    border                  : 1px solid $COLOR_DARK_LIGHT; 
    outline                 : 0; 
    -webkit-transition      : all .15s;
    -moz-transition         : all .15s; 
    transition              : all .15s;

    &::-webkit-input-placeholder    { color: $COLOR_DARK_MUTED; }
    &::-moz-placeholder             { color: $COLOR_DARK_MUTED; }
    &:-ms-input-placeholder         { color: $COLOR_DARK_MUTED; }
    &:-moz-placeholder              { color: $COLOR_DARK_MUTED; }
}

input#search:hover {
    background-color        : transparent;
    color                   : $COLOR_DARK_BASE; 
    -webkit-transition      : all .15s;
    -moz-transition         : all .15s; 
    transition              : all .15s;

    &::-webkit-input-placeholder    { color: $COLOR_DARK_BASE; }
    &::-moz-placeholder             { color: $COLOR_DARK_BASE; }
    &:-ms-input-placeholder         { color: $COLOR_DARK_BASE; }
    &:-moz-placeholder              { color: $COLOR_DARK_BASE; }
}

input#search:focus {
    background-color        : $COLOR_CONTRAST;
    color                   : $WHITE_BASE;
    border-color            : $COLOR_CONTRAST;
    -webkit-transition      : all .15s;
    -moz-transition         : all .15s; 
    transition              : all .15s;

    &::-webkit-input-placeholder    { color: $WHITE_BASE; }
    &::-moz-placeholder             { color: $WHITE_BASE; }
    &:-ms-input-placeholder         { color: $WHITE_BASE; }
    &:-moz-placeholder              { color: $WHITE_BASE; }
}

// BORDER
// --------------------------------------------------------
.border-solid { 
    background-color        : transparent;
    border-left             : 1rem solid $COLOR_DARK_BASE;
    border-bottom           : 0px solid;
    -webkit-transition      : all .15s;
    -moz-transition         : all .15s; 
    transition              : all .15s;
}

.border-solid:hover { 
    border-color            : $COLOR_CONTRAST !important;
    -webkit-transition      : all .15s;
    -moz-transition         : all .15s;
    transition              : all .15s;
}

.border-solid p,
.border-solid span,
.border-solid a { 
    color                   : $COLOR_DARK_BASE;
    -webkit-transition      : all .15s;
    -moz-transition         : all .15s; 
    transition              : all .15s;
}

.border-solid:hover p,
.border-solid:hover span,
.border-solid:hover a { color: $COLOR_CONTRAST; }

.border-left { 
    border-left             : 0.25rem solid $COLOR_DARK_LIGHT !important;
    background-color        : transparent;
    -webkit-transition      : all .15s;
    -moz-transition         : all .15s; 
    transition              : all .15s;

    &.primary { border-left: 0.25rem solid $COLOR_PRIMARY !important; }
}

// NAVBAR 
// --------------------------------------------------------
.navbar { 
    font-family             : $FONT_FAMILY_BASE;
    // color                   : $WHITE_BASE;
    // background-color        : $COLOR_DARK_BASE;
    color                   : $COLOR_DARK_BASE;
    background-color        : $WHITE_BASE;
}

.navbar .nav-item { 
    background-color        : transparent; 
    padding-left            : 1rem;
    padding-right           : 1rem;
    border-top              : 0.25rem solid transparent; 
    border-bottom           : 0.25rem solid transparent; 
    
    a {
        // color               : $WHITE_BASE;
        color               : $COLOR_DARK_BASE;
        font-family         : $FONT_FAMILY_BASE;
        font-size           : $FONT_SIZE_BASE; 
        text-decoration     : none !important;
    }

    .dropdown-menu {
        min-width           : 100%;
        margin              : 0;
        padding             : 0;
        border              : 0;
        border-radius       : 0;

        padding-left        : 1rem;
        padding-right       : 1rem;
    }
}

.navbar.background--primary .nav-item {
    a {
        color               : $WHITE_BASE;
    }
}

.navbar .nav-item:hover,
.navbar .nav-item:focus,
.navbar .nav-item.show { 
    border-bottom               : 0.25rem solid $COLOR_PRIMARY;

    a {
        // color               : $WHITE_BASE;
        color                   : $COLOR_PRIMARY;
        text-decoration         : none !important;
    }

    .dropdown-menu {
        background-color        : $COLOR_DARK_BASE;

        a {
            color               : $WHITE_BASE;
            text-decoration     : none !important;
        }

        a:hover,
        a:focus {
            text-decoration     : none !important;
        }
    }
}

.navbar.background--primary .nav-item:hover,
.navbar.background--primary .nav-item:focus,
.navbar.background--primary .nav-item.show { 
    border-bottom           : 0.25rem solid $WHITE_BASE;

    a {
        color               : $WHITE_BASE;
    }
}

/* modal */
.modal .modal-dialog {
    max-width               : 100%;
    height                  : 100%;
    margin                  : 0;
}

.modal .modal-dialog .modal-content {
    border                  : 0;
    border-radius           : 0;
    height                  : 100%;
    background-color        : $WHITE_BASE; 
}

.modal .modal-dialog .modal-content .modal-header { border: 0; }

// BUTTONS 
// --------------------------------------------------------
.btn.btn-primary {
    border-radius           : 0;
    font-size               : 1.125rem;
    box-shadow              : none;
    background-color        : $COLOR_DARK_BASE;
    color                   : $WHITE_BASE; 
    border                  : 0; 
    border-color            : $COLOR_DARK_BASE;
    line-height             : 0;
    padding                 : 1rem;

    &.fixed { 
        position: fixed;
        bottom: 5.125rem;
        right: 1rem;
        z-index: 2000;
    }
}

.btn.btn-primary i { min-width: 20px; }

.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active { 
    background-color        : $COLOR_DARK_BASE !important;
    color                   : $WHITE_BASE !important; 
    border-color            : $COLOR_DARK_BASE !important;
    box-shadow              : none !important;
}

// TYPOGRAPHY 
// --------------------------------------------------------
h1 { font-size: $FONT_SIZE_LARGE; }
h2 { font-size: $FONT_SIZE_MEDIUM; }

h3,
h4,
h5 { font-size: $FONT_SIZE_BASE_PLUS; }


h1,
h2,
h3,
h4,
h5,
button.navbar-toggler {
    font-family             : $FONT_FAMILY_BASE;
    font-weight             : $FONT_WEIGHT_BOLD; 
    color                   : $COLOR_DARK_BASE;
    text-transform          : none;  
    margin-bottom           : 0;
    outline                 : none !important;

    span { 
        font-family             : inherit;
        font-size               : inherit;
        font-weight             : inherit;
        background-color        : $COLOR_DARK_BASE; 
        color                   : $WHITE_BASE;
        font-weight             : $FONT_WEIGHT_BASE;
    }

    a {
        color                   : $COLOR_DARK_BASE;
        text-decoration         : none !important; 
    }

    a:hover,
    a:focus { 
        color                   : $COLOR_PRIMARY;
        text-decoration         : none !important; 
    }

    &.large { font-size: $FONT_SIZE_LARGE; }
    &.no-uppercase { text-transform: none !important; }
}

.rotate {
    -ms-transform           : rotate(4deg);
    -webkit-transform       : rotate(4deg);
    transform               : rotate(4deg);
}

a { word-break: break-word !important; }
a.break-all { word-break: break-all !important; }

// paragraph
p a { font-weight: $FONT_WEIGHT_BOLD; }

p a:hover,
p a:focus {
    color                   : $WHITE_BASE;
    background-color        : $COLOR_PRIMARY;
}

.font-size-medium { font-size: $FONT_SIZE_MEDIUM; }

ol, ul, dl { 
    margin                  : 0 !important;
    padding                 : 0;
    padding-left            : 2rem; 
}

.font-family-serif ul li,
li.list-item {
    display                 : list-item;
    list-style-type         : square;
    list-style-position     : inherit;
}

.font-family-serif ul li { margin-bottom: 1rem !important; }

.font-family-mono { font-family: $FONT_FAMILY_MONO !important; }
.font-family-base { font-family: $FONT_FAMILY_BASE !important; }
.font-family-serif { 
    font-family             : $FONT_FAMILY_SERIF !important;
    font-weight             : $FONT_WEIGHT_THIN;
    line-height             : 2;
}

.font-family-serif h1,
.font-family-serif h2,
.font-family-serif h3,
.font-family-serif h4,
.font-family-serif h5 {
    font-family             : $FONT_FAMILY_SERIF !important;
    font-weight             : $FONT_WEIGHT_BOLD;
    line-height             : 2;
}

p.text-small,
span.text-small { font-size: $FONT_SIZE_SMALL; }

.font-weight-bold { font-weight: $FONT_WEIGHT_BOLD !important; }

h1 span.left,
p span.left
h1 span.right,
p span.right { 
    margin                  : 0;
    -webkit-transition      : all .15s;
    -moz-transition         : all .15s; 
    transition              : all .15s;
}

h1:hover span.left,
p:hover span.left { margin-right: 4px; }

h1:hover span.right,
p:hover span.right { margin-left: 4px; }

a,
a:focus { 
    color                   : $COLOR_PRIMARY;
    text-decoration         : none;
}

a:hover { 
    color                   : $COLOR_SECONDARY;
    text-decoration         : none !important;
}

a.underline,
a.underline p,
a.underline:focus p { text-decoration: none; }

a.underline:hover,
a.underline:hover p { text-decoration: underline; }

a.no-decoration,
a.no-decoration:focus,
a.no-decoration:hover { text-decoration: none !important; }

// highlight.js
pre.prettyprint { 
    background          : $COLOR_DARK_LIGHT;
    border              : 0 !important;
    max-width           : 100%;
    white-space         : pre-wrap;
    padding-left        : 1rem !important;
    margin              : 0; 
}

pre.prettyprint,
pre.prettyprint span { 
    font-family         : $FONT_FAMILY_MONO;
    font-weight         : $FONT_WEIGHT_BASE;
    font-size           : $FONT_SIZE_BASE; 
}

@media screen {
    // plaintext
    .pln,
    .hljs-meta,
    .hljs-params { color: $COLOR_DARK_BASE !important; }
    // string
    .str,
    .hljs-regexp,
    .hljs-string { color: $COLOR_PRIMARY !important; }
    // keyword
    .kwd,
    .hljs-keyword,
    .hljs-built_in,
    .hljs-function { color: $COLOR_PRIMARY !important; }
    // comment
    .com,
    .hljs-comment { color: $COLOR_DARK_MUTED !important; }
    // type
    .typ,
    .hljs-type { color: $COLOR_DARK_BASE !important; }
    // symbols
    .lit,
    .hljs-number,
    .hljs-symbol { color: $COLOR_CONTRAST !important; }

    .pun { color: $COLOR_DARK_BASE !important; }
    
    .opn { color: $COLOR_DARK_MUTED !important; }
    
    .clo { color: $COLOR_DARK_MUTED !important; }
    
    .tag { color: $COLOR_DARK_BASE !important; }
    
    .atn { color: $COLOR_DARK_BASE !important; }
    
    .atv { color: $COLOR_DARK_BASE !important; }
    
    .dec { color: $COLOR_DARK_BASE !important; }

    .var { color: $COLOR_DARK_BASE !important; }

    // function
    .fun,
    .hljs-function .hljs-title,
    .hljs-class .hljs-title { 
        color: $COLOR_DARK_BASE !important;
        font-weight: $FONT_WEIGHT_BOLD !important;
    }

    .hljs-function .hljs-keyword,
    .hljs-meta .hljs-meta-keyword,
    .hljs-meta .hljs-meta-string,
    .hljs-class .hljs-keyword { color: $COLOR_DARK_BASE !important; }
}

// DARK THEME
// --------------------------------------------------------
html.dark { background-color: $COLOR_DARK_BASE; }

html.dark a.color-primary span,
html.dark a.color-primary:focus span { color: $WHITE_SHADED; }

html.dark a.color-primary:hover span { color: $COLOR_PRIMARY !important; }

html.dark .navbar { color: $WHITE_SHADED; }

html.dark .navbar a { color: $WHITE_SHADED; }

html.dark p,
html.dark ul,
html.dark span { color: $WHITE_SHADED; }

html.dark h1,
html.dark h2,
html.dark h3,
html.dark h4,
html.dark h5,
html.dark button.navbar-toggler { 
    color: $WHITE_SHADED;

    span { 
        background-color        : $WHITE_SHADED; 
        color                   : $COLOR_DARK_BASE; 
    }

}

html.dark .border-solid { border-color: $WHITE_SHADED !important; }
html.dark .border-solid:hover,
html.dark .border-solid:focus { border-color: $COLOR_PRIMARY !important; }
html.dark .border-solid p,
html.dark .border-solid span,
html.dark .border-solid a { color: $WHITE_SHADED; }

html.dark input#search:hover {
    color                   : $WHITE_SHADED; 
    border-color            : $WHITE_SHADED;

    &::-webkit-input-placeholder    { color: $WHITE_SHADED; }
    &::-moz-placeholder             { color: $WHITE_SHADED; }
    &:-ms-input-placeholder         { color: $WHITE_SHADED; }
    &:-moz-placeholder              { color: $WHITE_SHADED; }
}

html.dark input#search:focus {
    background-color        : $WHITE_SHADED;
    color                   : $COLOR_DARK_BASE;
    border-color            : $WHITE_SHADED;

    &::-webkit-input-placeholder    { color: $COLOR_DARK_BASE; }
    &::-moz-placeholder             { color: $COLOR_DARK_BASE; }
    &:-ms-input-placeholder         { color: $COLOR_DARK_BASE; }
    &:-moz-placeholder              { color: $COLOR_DARK_BASE; }
}

html.dark .btn.btn-primary {
    background-color        : $WHITE_SHADED;
    color                   : $COLOR_DARK_BASE; 
    border-color            : $WHITE_SHADED;
}

html.dark .btn.btn-primary:hover,
html.dark .btn.btn-primary:focus,
html.dark .btn.btn-primary:active { 
    background-color        : $WHITE_SHADED !important;
    color                   : $COLOR_DARK_BASE !important; 
    border-color            : $WHITE_SHADED !important;
}

html.dark .modal .modal-dialog .modal-content {
    background-color        : $COLOR_DARK_BASE; 
}

@media screen {
    html.dark .pln { color: $WHITE_SHADED !important; }
    html.dark .str { color: $COLOR_PRIMARY !important; }
    html.dark .kwd { color: $WHITE_SHADED !important; }
    html.dark .com { color: $COLOR_DARK_MUTED !important; }
    html.dark .typ { color: $WHITE_SHADED !important; }
    html.dark .lit { color: $COLOR_CONTRAST !important; }
    html.dark .pun { color: $WHITE_SHADED !important; }
    html.dark .opn { color: $COLOR_DARK_MUTED !important; }
    html.dark .clo { color: $COLOR_DARK_MUTED !important; }
    html.dark .tag { color: $WHITE_SHADED !important; }
    html.dark .atn { color: $WHITE_SHADED !important; }
    html.dark .atv { color: $WHITE_SHADED !important; }
    html.dark .dec { color: $WHITE_SHADED !important; }
    html.dark .var { color: $WHITE_SHADED !important; }
    html.dark .fun { color: $WHITE_SHADED !important; }
}

// --------------------------------------------------------

/* typewriter animation */
.typewriter { display: inline-block; }

.typewriter-text {
    display                 : inline-block;
    overflow                : hidden;
    letter-spacing          : 1px;
    white-space             : nowrap;
    border-right            : 0.25rem solid $WHITE_BASE;
    box-sizing              : border-box;
}

@keyframes typing {
    0% { width: 0%; }
    20% { width: 0%; }
    40% { width: 100%; }
    100% { width: 100%; }
}

@keyframes blink {
    0% { border-color: transparent; }
    50% { border-color: $WHITE_BASE; }
    100% { border-color: transparent; }
}

@keyframes breathe {
    0% { border-color: $COLOR_DARK_LIGHT; }
    50% { border-color: $COLOR_PRIMARY; }
    100% { border-color: $COLOR_DARK_LIGHT; }
}